<div id="ajax-refine-search" class="col-6 col-sm-4 refine-search image">
    <div class="filtrer">Filtrer</div>
    <a class="toggle--refine-search visible-xs" role="button" data-toggle="collapse" href="#" aria-expanded="true">
    Affiner la recherche
    </a>
    <div class="refine-search__wrapper">
    
    <div id="refine-block-preloader">

    </div>
    
    
    
    <form id="resume_filter">
    <input type="hidden" name="action" value="refine">
    <input type="hidden" name="searchId" value="1686862332.8358">
    
    <div class="refine-search__block pl">
    
    <div class="collapse in clearfix" id="refine-block-JobCategory">
    <a class="refine-search__item" *ngFor="let p of contrats">
    <span class="refine-search__value">{{p.type}}</span>
    </a>
   
    </div><a href="#" class="less-more__btn link">Plus</a>
    </div>
    
    <div class="refine-search__block pl">
    
    <div class="collapse in clearfix" id="refine-block-EmploymentType">
    <a class="refine-search__item" *ngFor="let p of categories">
    <span class="refine-search__value">{{p.name}}</span>
    </a>

    
    </div><a href="#" class="less-more__btn link">Plus</a>
    </div>
   
    <div class="refine-search__block pl">
    
    <div class="collapse in clearfix" id="refine-block-Location_City">
    <a class="refine-search__item" *ngFor="let p of places" >
    <span class="refine-search__value">{{p.place}}</span>
    </a>
    
    </div><a href="#" class="less-more__btn link">Plus</a>
    </div>
    <!-- <div class="filter-widget">
        <h4 class="fw-title">Price</h4>
        <ng5-slider 
        [(ngModel)]="priceselection"
        [(value)]="minValue"
        [(highValue)]="maxValue"
        [options]="options"
        (mouseup)="changePrice()">
    </ng5-slider > -->
<!-- </div> -->



    </form>
    </div>

    

</div>