<div id="ajax-refine-search" class="col-6 col-sm-4 refine-search image">
    <div class="filtrer">Filtrer</div>
    <a class="toggle--refine-search visible-xs" role="button" data-toggle="collapse" href="#" aria-expanded="true">
    Affiner la recherche
    </a>
    <div class="refine-search__wrapper">
    
    <div id="refine-block-preloader">

    </div>
    
    
    
    <form id="resume_filter">
    <input type="hidden" name="action" value="refine">
    <input type="hidden" name="searchId" value="1686862332.8358">
    
    <div class="refine-search__block">
    
    <div class="collapse in clearfix" id="refine-block-JobCategory">
    <a class="refine-search__item" href="?searchId=1686862332.8358&amp;action=refine&amp;JobCategory[multi_like][]=985">
    <span class="refine-search__value">Domotique</span>
    </a>
    <a class="refine-search__item" href="?searchId=1686862332.8358&amp;action=refine&amp;JobCategory[multi_like][]=979">
    <span class="refine-search__value">Chimie</span>
    </a>
    <a class="refine-search__item" href="?searchId=1686862332.8358&amp;action=refine&amp;JobCategory[multi_like][]=919">
    <span class="refine-search__value">Esthétique</span>
    </a>
    <a class="refine-search__item" href="?searchId=1686862332.8358&amp;action=refine&amp;JobCategory[multi_like][]=984">
    <span class="refine-search__value">Sport et Fitness</span>
    </a>
    <a class="refine-search__item" href="?searchId=1686862332.8358&amp;action=refine&amp;JobCategory[multi_like][]=970">
    <span class="refine-search__value">Education Physique</span>
    </a>
    <a class="refine-search__item" href="?searchId=1686862332.8358&amp;action=refine&amp;JobCategory[multi_like][]=726">
    <span class="refine-search__value">Biotechnologie</span>
    </a>
    <div class="less-more" style="display: none">
    <a class="refine-search__item" href="?searchId=1686862332.8358&amp;action=refine&amp;JobCategory[multi_like][]=388">
    <span class="refine-search__value">Juridique</span>
    </a>
    <a class="refine-search__item" href="?searchId=1686862332.8358&amp;action=refine&amp;JobCategory[multi_like][]=721">
    <span class="refine-search__value">Fonction publique</span>
    </a>
    <a class="refine-search__item" href="?searchId=1686862332.8358&amp;action=refine&amp;JobCategory[multi_like][]=384">
    <span class="refine-search__value">Banque</span>
    </a>
    <a class="refine-search__item" href="?searchId=1686862332.8358&amp;action=refine&amp;JobCategory[multi_like][]=974">
    <span class="refine-search__value">Automatisme</span>
    </a>
    <a class="refine-search__item" href="?searchId=1686862332.8358&amp;action=refine&amp;JobCategory[multi_like][]=969">
    <span class="refine-search__value">Electronique</span>
    </a>
    <a class="refine-search__item" href="?searchId=1686862332.8358&amp;action=refine&amp;JobCategory[multi_like][]=918">
    <span class="refine-search__value">Hôtellerie et Tourisme</span>
    </a>
    <a class="refine-search__item" href="?searchId=1686862332.8358&amp;action=refine&amp;JobCategory[multi_like][]=379">
     <span class="refine-search__value">Maison</span>
    </a>
    <a class="refine-search__item" href="?searchId=1686862332.8358&amp;action=refine&amp;JobCategory[multi_like][]=972">
    <span class="refine-search__value">Mécatronique</span>
    </a>
    <a class="refine-search__item" href="?searchId=1686862332.8358&amp;action=refine&amp;JobCategory[multi_like][]=968">
    <span class="refine-search__value">Mécanique</span>
    </a>
    <a class="refine-search__item" href="?searchId=1686862332.8358&amp;action=refine&amp;JobCategory[multi_like][]=719">
    <span class="refine-search__value">Installation-Entretien-Reparation</span>
    </a>
    <a class="refine-search__item" href="?searchId=1686862332.8358&amp;action=refine&amp;JobCategory[multi_like][]=980">
    <span class="refine-search__value">Agriculture</span>
    </a>
    <a class="refine-search__item" href="?searchId=1686862332.8358&amp;action=refine&amp;JobCategory[multi_like][]=976">
    <span class="refine-search__value">Agroalimentaire</span>
    </a>
    <a class="refine-search__item" href="?searchId=1686862332.8358&amp;action=refine&amp;JobCategory[multi_like][]=967">
    <span class="refine-search__value">Pétrolière</span>
    </a>
    <a class="refine-search__item" href="?searchId=1686862332.8358&amp;action=refine&amp;JobCategory[multi_like][]=395">
    <span class="refine-search__value">Assurances</span>
    </a>
    </div><a href="#" class="less-more__btn link">Plus</a>
    </div>
    </div>
    <div class="refine-search__block">
    
    <div class="collapse in clearfix" id="refine-block-EmploymentType">
    <a class="refine-search__item" href="?searchId=1686862332.8358&amp;action=refine&amp;EmploymentType[multi_like][]=697">
    <span class="refine-search__value">Intérim</span>
    </a>
    <a class="refine-search__item" href="?searchId=1686862332.8358&amp;action=refine&amp;EmploymentType[multi_like][]=77">
    <span class="refine-search__value">Temps plein</span>
    </a>
    <a class="refine-search__item" href="?searchId=1686862332.8358&amp;action=refine&amp;EmploymentType[multi_like][]=76">
    <span class="refine-search__value">CDI</span>
    </a>
    <a class="refine-search__item" href="?searchId=1686862332.8358&amp;action=refine&amp;EmploymentType[multi_like][]=79">
    <span class="refine-search__value">Saisonnier</span>
    </a>
    <a class="refine-search__item" href="?searchId=1686862332.8358&amp;action=refine&amp;EmploymentType[multi_like][]=78">
    <span class="refine-search__value">Freelance / Indépendant</span>
    </a>
    <a class="refine-search__item" href="?searchId=1686862332.8358&amp;action=refine&amp;EmploymentType[multi_like][]=921">
    <span class="refine-search__value">SIVP</span>
    </a>
    <div class="less-more" style="display: none">
    <a class="refine-search__item" href="?searchId=1686862332.8358&amp;action=refine&amp;EmploymentType[multi_like][]=698">
    <span class="refine-search__value">Contrat al Karama</span>
    </a>
    <a class="refine-search__item" href="?searchId=1686862332.8358&amp;action=refine&amp;EmploymentType[multi_like][]=696">
    <span class="refine-search__value">Temps partiel</span>
    </a>
    <a class="refine-search__item" href="?searchId=1686862332.8358&amp;action=refine&amp;EmploymentType[multi_like][]=695">
    <span class="refine-search__value">CDD</span>
    </a>
    </div><a href="#" class="less-more__btn link">Plus</a>
    </div>
    </div>
    <div class="refine-search__block">
    
    <div class="collapse in clearfix" id="refine-block-Location_City">
    <a class="refine-search__item" href="?searchId=1686862332.8358&amp;action=refine&amp;Location_City[multi_like_and][]=Technopole el Ghazela, Ariana">
    <span class="refine-search__value">Technopole el Ghazela, Ariana</span>
    </a>
    <a class="refine-search__item" href="?searchId=1686862332.8358&amp;action=refine&amp;Location_City[multi_like_and][]=Tunis">
    <span class="refine-search__value">Tunis</span>
    </a>
    <a class="refine-search__item" href="?searchId=1686862332.8358&amp;action=refine&amp;Location_City[multi_like_and][]=La Charguia II">
    <span class="refine-search__value">La Charguia II</span>
    </a>
    <a class="refine-search__item" href="?searchId=1686862332.8358&amp;action=refine&amp;Location_City[multi_like_and][]=Les Berges du Lac 2">
    <span class="refine-search__value">Les Berges du Lac 2</span>
    </a>
    <a class="refine-search__item" href="?searchId=1686862332.8358&amp;action=refine&amp;Location_City[multi_like_and][]=Technopole  El Ghazala">
    <span class="refine-search__value">Technopole El Ghazala</span>
    </a>
    <a class="refine-search__item" href="?searchId=1686862332.8358&amp;action=refine&amp;Location_City[multi_like_and][]=Afrique">
    <span class="refine-search__value">Afrique</span>
    </a>
    <div class="less-more" style="display: none">
    <a class="refine-search__item" href="?searchId=1686862332.8358&amp;action=refine&amp;Location_City[multi_like_and][]=Centre Urbain Nord">
    <span class="refine-search__value">Centre Urbain Nord</span>
    </a>
    <a class="refine-search__item" href="?searchId=1686862332.8358&amp;action=refine&amp;Location_City[multi_like_and][]=Jendouba">
    <span class="refine-search__value">Jendouba</span>
    </a>
    <a class="refine-search__item" href="?searchId=1686862332.8358&amp;action=refine&amp;Location_City[multi_like_and][]=Sfax">
    <span class="refine-search__value">Sfax</span>
    </a>
    <a class="refine-search__item" href="?searchId=1686862332.8358&amp;action=refine&amp;Location_City[multi_like_and][]=Beja">
    <span class="refine-search__value">Beja</span>
    </a>
    <a class="refine-search__item" href="?searchId=1686862332.8358&amp;action=refine&amp;Location_City[multi_like_and][]=Sousse">
    <span class="refine-search__value">Sousse</span>
    </a>
    <a class="refine-search__item" href="?searchId=1686862332.8358&amp;action=refine&amp;Location_City[multi_like_and][]=Zone Poudrière Sfax">
    <span class="refine-search__value">Zone Poudrière Sfax</span>
    </a>
    <a class="refine-search__item" href="?searchId=1686862332.8358&amp;action=refine&amp;Location_City[multi_like_and][]=La Charguia I">
    <span class="refine-search__value">La Charguia I</span>
    </a>
    <a class="refine-search__item" href="?searchId=1686862332.8358&amp;action=refine&amp;Location_City[multi_like_and][]=La Charguia I, Tunis, Tunisie">
    <span class="refine-search__value">La Charguia I, Tunis, Tunisie</span>
    </a>
    <a class="refine-search__item" href="?searchId=1686862332.8358&amp;action=refine&amp;Location_City[multi_like_and][]=La Charguia 1">
    <span class="refine-search__value">La Charguia 1</span>
    </a>
    <a class="refine-search__item" href="?searchId=1686862332.8358&amp;action=refine&amp;Location_City[multi_like_and][]=Afrique subsaharienne">
    <span class="refine-search__value">Afrique subsaharienne</span>
    </a>
    <a class="refine-search__item" href="?searchId=1686862332.8358&amp;action=refine&amp;Location_City[multi_like_and][]=sfax nasria">
    <span class="refine-search__value">sfax nasria</span>
    </a>
    <a class="refine-search__item" href="?searchId=1686862332.8358&amp;action=refine&amp;Location_City[multi_like_and][]=Hammamet">
    <span class="refine-search__value">Hammamet</span>
    </a>
    <a class="refine-search__item" href="?searchId=1686862332.8358&amp;action=refine&amp;Location_City[multi_like_and][]=Les Berges du Lac II">
    <span class="refine-search__value">Les Berges du Lac II</span>
    </a>
    <a class="refine-search__item" href="?searchId=1686862332.8358&amp;action=refine&amp;Location_City[multi_like_and][]=Ariana">
    <span class="refine-search__value">Ariana</span>
    </a>
    </div><a href="#" class="less-more__btn link">Plus</a>
    </div>
    <!-- <div class="filter-widget">
        <h4 class="fw-title">Price</h4>
        <ng5-slider 
        [(ngModel)]="priceselection"
        [(value)]="minValue"
        [(highValue)]="maxValue"
        [options]="options"
        (mouseup)="changePrice()">
    </ng5-slider > -->
<!-- </div> -->
</div>


    </form>
    </div>

    

</div>