<section>
    <div class="container">
         <div class="text-center">
              <h1>About Us</h1>

              <br>

              <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, alias.</p>
         </div>
    </div>
</section>

<section class="section-background">
    <div class="container">
         <div class="row im">
              <div class="col-md-offset-1 col-md-4 col-xs-12 pull-right">
                   <img src="assets/images/joblogo.png" class="img-responsive img-circle" alt="">
              </div>

              <div class="col-md-7 col-xs-12">
                   <div class="about-info ">
                        <h2>JobGate:   </h2>
                         
<h1>JobGate is the best alternative for job seekers to find suitable jobs and to improve technical skill
                        </h1>

                        <figure>
                             <figcaption>
                              JobGate.com is the first job website in Tunisia and a market leader in online recruitment since its establishment in 2006. It offers job opportunities in all regions, both domestically and internationally, with daily updates. Our job site provides you with more chances to land the job that best matches your profile. Update your CV online, search for a job, and ensure that your CV is well-written, highlighting your experience and strengths.

If you are looking for a job in Tunisia or elsewhere, JobGate.com continuously offers job vacancies in your field of expertise. The most active recruiters on the site are IT companies in Tunisia or offshore, call centers, and recruitment and staffing agencies. Additionally, JobGate dedicates a space for recruiters seeking talented professionals in their respective industries. You will also find advertisements for training courses in Tunisia. JobGate, the Tunisian employment portal, supports both candidates and recruiters for a better future!
                             </figcaption>
                        </figure>
                   </div>
              </div>
         </div>
    </div>
</section>


