<div class="listing-item__list ">
    <article id="1301206" class="media well listing-item listing-item__jobs  listing-item__no-logo">
    <div class="media-body">
    <div class="media-heading listing-item__title">
    <a href="https://www.tanitjobs.com/job/1301206/technicien-sécurité-incendie-h-f/?backPage=&amp;searchID=1686753445.3098" class="link">
    Technicien Sécurité Incendie H/F
    </a>
    </div>
    <div class="listing-item__desc hidden-sm hidden-xs">
    Mission
    Garantir la bonne application des consignes et procédures de sécurité au niveau du site. Garantir le bon...
    </div>
    <div class="listing-item__info clearfix">
    <span class="listing-item__info--item listing-item__info--item-company">
    Sagemcom Tunisie
    </span>
    <span class="listing-item__info--item listing-item__info--item-location">
    Ben Arous, Ben Arous, Tunisie
    </span>
    </div>
    </div>
    <div class="media-right text-right">
    <div class="listing-item__date">
    14/06/2023 </div>
    <a href="https://www.tanitjobs.com/job/1301206/technicien-sécurité-incendie-h-f/?backPage=&amp;searchID=1686753445.3098" class="link"><span class="listing-item__employment-type">Voir Plus</span></a>
    </div>
    <div class="listing-item__desc visible-sm visible-xs">
    Mission
    Garantir la bonne application des consignes et procédures de sécurité au niveau du site. Garantir le bon...
    </div>
    </article>
    <article id="1301200" class="media well listing-item listing-item__jobs  ">
    <div class="media-body">
    <div class="media-heading listing-item__title">
    <a href="https://www.tanitjobs.com/job/1301200/développeur-angular-senior/?backPage=&amp;searchID=1686753445.3098" class="link">
    Développeur Angular Senior
    </a>
    </div>
    <div class="listing-item__desc hidden-sm hidden-xs">
    Positive Thinking Company est un groupe mondial indépendant de conseil en technologie. Nous nous appuyons surplus de 4000 talentueux...
    </div>
    <div class="listing-item__info clearfix">
    <span class="listing-item__info--item listing-item__info--item-company">
    Positive Thinking Company
    </span>
    <span class="listing-item__info--item listing-item__info--item-location">
    Centre Urbain Nord, Tunis, Tunisie
    </span>
    </div>
    </div>
    <div class="media-right text-right">
    <div class="listing-item__date">
    14/06/2023 </div>
    <a href="https://www.tanitjobs.com/job/1301200/développeur-angular-senior/?backPage=&amp;searchID=1686753445.3098" class="link"><span class="listing-item__employment-type">Voir Plus</span></a>
    </div>
    <div class="listing-item__desc visible-sm visible-xs">
    Positive Thinking Company est un groupe mondial indépendant de conseil en technologie. Nous nous appuyons surplus de 4000 talentueux...
    </div>
    </article>
    <article id="1301076" class="media well listing-item listing-item__jobs  listing-item__no-logo">
    <div class="media-body">
    <div class="media-heading listing-item__title">
    <a href="https://www.tanitjobs.com/job/1301076/comptable/?backPage=&amp;searchID=1686753445.3098" class="link">
    Comptable
    </a>
    </div>
    <div class="listing-item__desc hidden-sm hidden-xs">
    Notre groupe demande un comptable expérimenté.&nbsp;
    </div>
    <div class="listing-item__info clearfix">
    <span class="listing-item__info--item listing-item__info--item-company">
    Anonyme
    </span>
    <span class="listing-item__info--item listing-item__info--item-location">
    Siliana, Siliana, Tunisie
    </span>
    </div>
    </div>
    <div class="media-right text-right">
    <div class="listing-item__date">
    14/06/2023 </div>
    <a href="https://www.tanitjobs.com/job/1301076/comptable/?backPage=&amp;searchID=1686753445.3098" class="link"><span class="listing-item__employment-type">Voir Plus</span></a>
    </div>
    <div class="listing-item__desc visible-sm visible-xs">
    Notre groupe demande un comptable expérimenté.&nbsp;
    </div>
    </article>
    <article id="1301074" class="media well listing-item listing-item__jobs  ">
    <div class="media-body">
    <div class="media-heading listing-item__title">
    <a href="https://www.tanitjobs.com/job/1301074/comptable/?backPage=&amp;searchID=1686753445.3098" class="link">
    Comptable
    </a>
    </div>
    <div class="listing-item__desc hidden-sm hidden-xs">
    le dressage des états mensuel de la situation comptable de l'entreprise.
    - l'enregistrement quotidien des opérations comptables....
    </div>
    <div class="listing-item__info clearfix">
    <span class="listing-item__info--item listing-item__info--item-company">
    cobaf
    </span>
    <span class="listing-item__info--item listing-item__info--item-location">
    Bardo, Tunis, Tunisie
    </span>
    </div>
    </div>
    <div class="media-right text-right">
    <div class="listing-item__date">
    14/06/2023 </div>
    <a href="https://www.tanitjobs.com/job/1301074/comptable/?backPage=&amp;searchID=1686753445.3098" class="link"><span class="listing-item__employment-type">Voir Plus</span></a>
    </div>
    <div class="listing-item__desc visible-sm visible-xs">
    le dressage des états mensuel de la situation comptable de l'entreprise.
    - l'enregistrement quotidien des opérations comptables....
    </div>
    </article>
    <article id="1248790" class="media well listing-item listing-item__jobs  ">
    <div class="media-left listing-item__logo">
    <a href="https://www.tanitjobs.com/job/1248790/responsable-conception/?backPage=&amp;searchID=1686753445.3098">
    <img class="media-object profile__img-company" src="https://www.tanitjobs.com/files/pictures/2021/02/25/Logo_rond.png" alt="HR PARTNERS">
    </a>
    </div>
    <div class="media-body">
    <div class="media-heading listing-item__title">
    <a href="https://www.tanitjobs.com/job/1248790/responsable-conception/?backPage=&amp;searchID=1686753445.3098" class="link">
    Responsable conception
    </a>
    </div>
    <div class="listing-item__desc hidden-sm hidden-xs">
    Vous êtes passionné(e) par le monde de la conception de produits ! Nous vous proposons une opportunité auprès...
    </div>
    <div class="listing-item__info clearfix">
    <span class="listing-item__info--item listing-item__info--item-company">
    HR PARTNERS
    </span>
    <span class="listing-item__info--item listing-item__info--item-location">
    Mohamedia, Ben Arous, Tunisie
    </span>
    </div>
    </div>
    <div class="media-right text-right">
    <div class="listing-item__date">
    14/06/2023 </div>
    <a href="https://www.tanitjobs.com/job/1248790/responsable-conception/?backPage=&amp;searchID=1686753445.3098" class="link"><span class="listing-item__employment-type">Voir Plus</span></a>
    </div>
    <div class="listing-item__desc visible-sm visible-xs">
    Vous êtes passionné(e) par le monde de la conception de produits ! Nous vous proposons une opportunité auprès...
    </div>
    </article>
    </div>