<!-- 
<div class="row" style="padding-top: 46px; padding-left: 20px;">
    <div class="col-sm-6"  *ngFor="let c of candidatures">
      <div class="card" style="    border: groove; padding-top: 18px;">
        <div class="d-flex justify-between mb-3">
        <div class="card-body">
           

          <h5 class="card-title"     style="text-align: center; padding-left: 280px;">{{c.offreId.titre}}</h5>
          <h4 class="card-text" style="    border-left: dashed; text-align: left;"> Condidat: &nbsp; {{c.userId.condidatId.name}} {{c.userId.condidatId.lastname}}</h4>
          <h4 class="card-text" style="    border-left: dashed; text-align: left;"> score:{{score}} </h4>
          
          <h4 class="card-text" style="    border-left: dashed; text-align: left;">lettre Motivation :</h4><p style="padding-left: 34px;
          text-align: left;">{{c.Motivation}}</p>
           <button style="align-items: center;     border-bottom: dotted;" (click)="viewCV(c._id)" >Voir CV</button>
               </div>
               <a  class="section-btn btn btn pull-left" style="color: black;padding-top: 60px;"  >confirmed</a>  
      </div>
    </div>
  
  </div> -->


  <div class="container" style="margin-top:20px">
    <input type="text" name="search_name"  class="form-control">
    <table class="table">
        <thead>
          <tr >
            <th scope="col">#</th>
            <th scope="col">nom de l'offre</th>
            <th scope="col">date postuler</th>
            <th scope="col">etat</th>
            <th scope="col">action</th>
          </tr>
        </thead>
        <tbody>
          
          <tr *ngFor="let c of candidatures  let index=index">
            <th scope="row">{{index+1}}</th>
            <td>{{c.offreId.titre}}</td>
            <td>{{c.createdAt}}</td>
            <td>{{c.confirmed ? 'confirmée' : 'en attente de confirmation'}}</td>


            <td>
                <button type="button" class="btn btn-danger" (click)="deleteC(c._id)"  >Supprimer</button>
                  &nbsp;
                <button type="button" class="btn btn-primary" (click)="showCondidature(c)">Voir condidature</button>
            </td>
          
        </tr>

        </tbody>
    </table>
  </div>


  <div #myModal class="modal-container" *ngIf="showCandidature">
    <div class="modal-content">
      <div class="card" style="border: groove; padding-top: 18px;">
        <div class="d-flex justify-between mb-3">
          <div class="card-body">   
            <span class="d-flex space-x-2">
              <h4>Titre : </h4>
              <p class="pl-2 card-title">{{selectedCondidature?.offreId.titre}}</p>
            </span>
            <span class="d-flex space-x-2">
              <h4>Condidat:</h4>
              <a class="pl-2" [routerLink]="['/profile',selectedCondidature?.userId._id]" class="card-text"> {{selectedCondidature?.userId.condidatId.name}} {{selectedCondidature?.userId.condidatId.lastname}}</a>
            </span>
            <span class="d-flex space-x-2">
              <h4 class="card-text"> score: </h4>
              <p class="pl-2">
                {{score}}
              </p>
            </span>
            <span class="d-flex space-x-2">
              <h4 class="card-text">lettre Motivation :</h4>
              <textarea class="pl-2" style="border: 1px gray solid;" disabled ng-model="myTextarea"> {{selectedCondidature?.Motivation}}</textarea>

            </span>
            <span class="d-flex space-x-2">
              <h4>Cv :</h4>
              <button class="pl-2" (click)="viewCV(selectedCondidature?._id)">Consulter</button>
            </span>
          </div>
          <a  class="btn pull-left pr-2 {{selectedCondidature.confirmed ? 'confirmed' : 'notConfirmed'}}" style="color: black;border: 1px gray solid;margin-right: 5px;"  > {{selectedCondidature.confirmed ? 'Confirmée' : 'Non confirmée' }}</a>  
        </div>
      </div>
    </div>
    </div>
