.modal-container {
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: -webkit-fill-available;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
  }
  
  .pending {
    background-color: orange ;
    color: white;
    border: 1px white solid;
  }
  .confirmed {
    background-color: #29ca8e ;
    color: white;
    border: 1px white solid;
  }

  .notConfirmed {
    background-color: red ;
    color: white;
    border: 1px white solid;
  }

  .modal-content {
    position: relative;
    margin-top: auto;
    top: 20%;
    /* bottom: 51%; */
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    /* border: 1px solid #888; */
    width: 60%;
  }