<input type="text" name="search_name"  class="form-control">

<table class="table">
    <thead>
      <tr >
        <th scope="col">#</th>
        <th scope="col">name</th>
        <th scope="col">lastname</th>
        <th scope="col">email</th>
        <th scope="col">adress</th>
      
        <th scope="col"> date_naissance </th>
        

        <th scope="col">condidatures</th>
        <th scope="col">recomandation</th>
        <th scope="col">action</th>
      </tr>
    </thead>
    <tbody>
      
      <tr >
        <!-- <th scope="row">{{index+1}}</th>
        <td>{{c.name}}</td>
        <td>{{c.lastname}}</td>

        <td>{{c.adress}}</td>
        <td>{{c.email}}</td>
        <td>{{c.date_naissance}}</td>
         -->
    
        






        <!-- <td>{{c.description}}</td>
        <td>{{c.file}}</td>  -->
        <div>
        <!-- <td *ngFor="let p of c.subcategories">{{p.name}}</td>  -->
      </div>


        <td><button type="button" class="btn btn-danger"  >Delete</button>
            &nbsp;<button type="button" class="btn btn-success" >details</button>
            &nbsp;<button class="confirm-btn">Confirmer</button>

            &nbsp;<button type="button" class="btn btn-primary">update</button>
        </td>
        <!-- [routerLink]="['/onecategory',c._id]" -->
        <!-- [routerLink]="['/updatec',c._id]" -->
        <!-- (click)="deletecategory(c._id)" -->
    </tr>

    </tbody>
  </table>

