

<main>
     <div class="home-slider" >
          <div class="item item-third"> </div>
          <app-top-search></app-top-search>  
     </div>
     <section>
         <div class="text-center">
               <h2>Dernier offre d'emploi</h2>
          </div>       
          <div class="container">
               <div class="row">
                    <br>
                    <div class="col-md-12 col-sm-12 mt-2" *ngFor="let offer of offer">
                         <app-offer-card [offer]="offer"></app-offer-card>
                    </div>
               </div>
          </div>
     </section>
     <section style="background-color: #ddd;">
          <h2 class="text-center mb-5" style="font-weight: 500;">Parcourir les offres d'emploi par ville</h2>
          <div class="row justify-center">
               <ng-container>
                    <a routerLink="/offre" [queryParams]="{states:state.place}" *ngFor="let state of places"
                    class="flex card-cat col-sm-8 col-md-6 col-lg-4 col-xl-2 space-x-2">
                     <p class="font-semibold">{{state.place}}</p>
                    </a>
               </ng-container>
          </div>
     </section> 
     <section>
     <h2 class="text-center mb-5" style="font-weight: 500;">Parcourir les offres d'emploi par Catégorie</h2>
     <div class="row justify-center">
          <ng-container>
               <a routerLink="/offre" [queryParams]="{categories:cat.name}" *ngFor="let cat of categories"
               class="flex card-cat col-sm-8 col-md-6 col-lg-4 col-xl-2 space-x-2">
                    <p class="font-semibold">{{cat.name}}</p>
               </a>
          </ng-container>
     </div>
     </section> 
</main>
      
         
      