

<main>
     <!-- <div class="owl-carousel owl-theme home-slider owl-loaded owl-drag"> -->

     
       
        <section>
          
          
             <div class="container">
               <div class="home-slider" ><div class="item item-third">
           </div>
           </div>
                  
                  <div class="row">
                    <app-search></app-search>
                    
                       <div class="col-md-12 col-sm-12">
                         
                            <div class="text-center">
                              
                                 <h2>About us</h2>
      
                                 <br>
      
                                 <p class="lead">JobGate is the best alternative for job seekers to find suitable jobs and to improve technical skill</p>
                            </div>
                       </div>
                  </div>
             </div>
        </section>
        <div class="text-center">
          <h2>Dernier offre d'emploi</h2></div>
    <section>
        
          
             <div class="container">
                  <div class="row">
                       <div class="col-md-12 col-sm-12">
                            <app-dernier-offre></app-dernier-offre>
                       </div>
      
                       <div class="col-md-4 col-sm-4">
                            <div class="courses-thumb courses-thumb-secondary">
                                 <div class="courses-top">
                                      <div class="courses-image">
                                           <img src="assets/images/product-1-720x480.jpg" class="img-responsive" alt="">
                                      </div>
                                      <div class="courses-date">
                                           <span title="Posted on"><i class="fa fa-calendar"></i> 15-06-2020</span>
                                           <span title="Location"><i class="fa fa-map-marker"></i> London</span>
                                           <span title="Type"><i class="fa fa-file"></i> Contract</span>
                                      </div>
                                 </div>
      
                                 <div class="courses-detail">
                                      <h3><a href="job-details.html">Lorem ipsum dolor sit amet</a></h3>
      
                                      <p class="lead"><strong>$60 000</strong></p>
      
                                      <p>Medical / Health Jobs for <strong>BMI Kings Park Hospital</strong></p>
                                 </div>
      
                                 <div class="courses-info">
                                      <a href="job-details.html" class="section-btn btn btn-primary btn-block">View Details</a>
                                 </div>
                            </div>
                       </div>
      
                       <div class="col-md-4 col-sm-4">
                            <div class="courses-thumb courses-thumb-secondary">
                                 <div class="courses-top">
                                      <div class="courses-image">
                                           <img src="assets/images/product-2-720x480.jpg" class="img-responsive" alt="">
                                      </div>
                                      <div class="courses-date">
                                           <span title="Posted on"><i class="fa fa-calendar"></i> 15-06-2020</span>
                                           <span title="Location"><i class="fa fa-map-marker"></i> London</span>
                                           <span title="Type"><i class="fa fa-file"></i> Contract</span>
                                      </div>
                                 </div>
      
                                 <div class="courses-detail">
                                      <h3><a href="job-details.html">Lorem ipsum dolor sit amet</a></h3>
      
                                      <p class="lead"><strong>$60 000</strong></p>
      
                                      <p>Medical / Health Jobs for <strong>BMI Kings Park Hospital</strong></p>
                                 </div>
      
                                 <div class="courses-info">
                                      <a href="job-details.html" class="section-btn btn btn-primary btn-block">View Details</a>
                                 </div>
                            </div>
                       </div>
      
                       <div class="col-md-4 col-sm-4">
                            <div class="courses-thumb courses-thumb-secondary">
                                 <div class="courses-top">
                                      <div class="courses-image">
                                           <img src="assets/images/product-3-720x480.jpg" class="img-responsive" alt="">
                                      </div>
                                      <div class="courses-date">
                                           <span title="Posted on"><i class="fa fa-calendar"></i> 15-06-2020</span>
                                           <span title="Location"><i class="fa fa-map-marker"></i> London</span>
                                           <span title="Type"><i class="fa fa-file"></i> Contract</span>
                                      </div>
                                 </div>
      
                                 <div class="courses-detail">
                                      <h3><a href="job-details.html">Lorem ipsum dolor sit amet</a></h3>
      
                                      <p class="lead"><strong>$60 000</strong></p>
      
                                      <p>Medical / Health Jobs for <strong>BMI Kings Park Hospital</strong></p>
                                 </div>
      
                                 <div class="courses-info">
                                      <a href="job-details.html" class="section-btn btn btn-primary btn-block">View Details</a>
                                 </div>
                            </div>
                       </div>
      
                  </div>
             </div>
        </section>
        
      
          <section>
               <div class="container">
                    <div class="row">
                         <div class="col-md-12 col-sm-12">
                              <div class="section-title text-center">
                                   <h2>Latest Blog posts <small>Lorem ipsum dolor sit amet.</small></h2>
                              </div>
                         </div>
          
                         <div class="col-md-4 col-sm-4">
                              <div class="courses-thumb courses-thumb-secondary">
                                   <div class="courses-top">
                                        <div class="courses-image">
                                             <img src="assets/images/other-1-720x480.jpg" class="img-responsive" alt="">
                                        </div>
                                        <div class="courses-date">
                                             <span title="Author"><i class="fa fa-user"></i> John Doe</span>
                                             <span title="Date"><i class="fa fa-calendar"></i> 12/06/2020 10:30</span>
                                             <span title="Views"><i class="fa fa-eye"></i> 114</span>
                                        </div>
                                   </div>
          
                                   <div class="courses-detail">
                                        <h3><a href="blog-post-details.html">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h3>
                                   </div>
          
                                   <div class="courses-info">
                                        <a href="blog-post-details.html" class="section-btn btn btn-primary btn-block">Read More</a>
                                   </div>
                              </div>
                         </div>
          
                         <div class="col-md-4 col-sm-4">
                              <div class="courses-thumb courses-thumb-secondary">
                                   <div class="courses-top">
                                        <div class="courses-image">
                                             <img src="assets/images/other-2-720x480.jpg" class="img-responsive" alt="">
                                        </div>
                                        <div class="courses-date">
                                             <span title="Author"><i class="fa fa-user"></i> John Doe</span>
                                             <span title="Date"><i class="fa fa-calendar"></i> 12/06/2020 10:30</span>
                                             <span title="Views"><i class="fa fa-eye"></i> 114</span>
                                        </div>
                                   </div>
          
                                   <div class="courses-detail">
                                        <h3><a href="blog-post-details.html">Tempora molestiae, iste, consequatur unde sint praesentium!</a></h3>
                                   </div>
          
                                   <div class="courses-info">
                                        <a href="blog-post-details.html" class="section-btn btn btn-primary btn-block">Read More</a>
                                   </div>
                              </div>
                         </div>
          
                         <div class="col-md-4 col-sm-4">
                              <div class="courses-thumb courses-thumb-secondary">
                                   <div class="courses-top">
                                        <div class="courses-image">
                                             <img src="assets/images/other-3-720x480.jpg" class="img-responsive" alt="">
                                        </div>
                                        <div class="courses-date">
                                             <span title="Author"><i class="fa fa-user"></i> John Doe</span>
                                             <span title="Date"><i class="fa fa-calendar"></i> 12/06/2020 10:30</span>
                                             <span title="Views"><i class="fa fa-eye"></i> 114</span>
                                        </div>
                                   </div>
          
                                   <div class="courses-detail">
                                        <h3><a href="blog-post-details.html">A voluptas ratione, error provident distinctio, eaque id officia?</a></h3>
                                   </div>
          
                                   <div class="courses-info">
                                        <a href="blog-post-details.html" class="section-btn btn btn-primary btn-block">Read More</a>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </section>
          <section class="main-sections">
 <div class="location ">
                    <div class="container">
               <h2>find with ville</h2>
                <div class="line">

                </div>
               <div class="row1" *ngFor="let p of places ">
               <div class="browse-jobs col-lg-3 col-xs-6 "> <a  class="list-unstyled browse-by__list" href="states/jobs-in-tataouine" >
                   <div class="browse-by__item"> <span>{{p.place}} </span> 
               </div>
               </a> 
          </div>
              
               </div>
               
               </div>
              
               </div>
         
               </section>

    <section>
         <div class="container">
                         <div class="row">

                 <h2 >Find by Category</h2>
                 <div class="line">

                 </div>
               <div class="col-md-12 col-sm-12">
                    
                              <div class="section-title text-center" >
                                   <ul class="list-unstyled browse-by__list" >
                                        <li *ngFor="let p of categories">
                                        <a href="https://www.tanitjobs.com/categories/705/informatique-jobs/">
                                        <span class="browse-by__item">{{p.name}}</span>
                                        </a>
                                        </li>
                                       
                                        </ul>
                              </div>
                         </div>
                    </div>
               </div>

               </section>

        
      
       
      </main>
      
         
      