<input type="text" name="search_name"  class="form-control">

<table class="table">
    <thead>
      <tr >
        <th scope="col">#</th>
        <th scope="col">nom de l'offre</th>
        <th scope="col">date postuler</th>
        <th scope="col">nom de l'entreprise </th>
        <th scope="col">avis</th>
        <th scope="col">action</th>
      </tr>
    </thead>
    <tbody>
      
      <tr *ngFor="let c of favorites let index=index">
        <th scope="row">{{index+1}}</th>
        <td>{{c.titre}}</td>
        <td>{{c.createdAt}}</td>
        <td>{{c.entrepriseFullname}}</td>

        <td>ton avis sur son cette offres</td>


      
            &nbsp;<button type="button" class="btn btn-success" [routerLink]="['/offre',c.offreId._id]">details</button>
       
       
    </tr>

    </tbody>
  </table>

