.search-text {
    margin-top: 30px;
    font-weight: 700;
    font-size: 32px;
    line-height: 25px;
}

.search-bloc {
    display: flex;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 70px;
}

.filter-bloc {
    width: 25%;
    margin-right: 20px;
    min-width: 250px;
}

.links-bloc {
    margin-bottom: 10px;
}

.result-bloc {
    width: 73%;
}

@media all and (max-width: 767px) {
    .hide-sm {
        display: none;
    }

    .search-text {
        font-size: 18px;
        margin-top: 20px;
    }

    .search-bloc {
        flex-direction: column;
        margin-top: 20px;
    }

    .filter-bloc {
        width: 100%;
        margin-right: 0;
    }

    .result-bloc {
        width: 100%;
    }

    .se-bloc-border {
        padding: 0;
        border: 0;
    }

    .links-bloc {
        margin-bottom: 20px;
    }

    .mobile-filter {
        position: fixed;
        z-index: 9999;
        background: white;
        width: -webkit-fill-available;
        width: -moz-available;
        left: 0;
        top: 0;
        display: block !important;
        padding: 28px 31px;
        height: -webkit-fill-available;
        height: -moz-available;
        height: 100%;
        padding-bottom: 5rem;
        overflow: auto;
    }

    .mandataire-header-content {
        align-self: center;
    }
}
@media all and (min-width: 768px) {
    .show-sm {
        display: none;
    }
}

.card-result {
    border: 1px solid #EDEDED;
    border-radius: 4px; 
    padding: 0 15px;
    height: 100%;
}

.mandataire-header-logo {
    width : 4.5rem;
    height: 72px;
}

:host::ng-deep  .main-header h1 {
    margin: 0;
    font-size: 1rem;
}

:host::ng-deep  .main-header p {
    margin: 0;
    line-height: inherit;
    font-size: .875rem;
}

:host::ng-deep  .main-header p a{
    text-decoration: none;
}

:host::ng-deep  .main-header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: .875rem;
}

.show-less {
    height: 40px;
    overflow: hidden;
}

.show-more {
    height: auto;
    overflow: hidden;
}

.man-header-btn {
    background-color: transparent;
    text-decoration: none;
    border-color: transparent;
    cursor:pointer;
    padding-left:0;  
}

.seo-bloc {
    margin-top: -70px;
}

.se-main-padding div{
    padding: 20px 0; 
}