.logo{
    width: 50px;
    height: 28px;
}
.pl{
    height: 180px !important;
    overflow: overlay !important;
}

.form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    display:none !important;
    content: " ";
}

.navbar-nav-second {
    float: right;
}

.bg-ca-accent{
    background-color: #29ca8e !important;
}

.dropdown-menu-right {
    width: 100%;
    left: 0;
    padding: 9px 0;
    margin-top: -8px;
    max-width: 100%;
    border-radius: 0;
    box-shadow: none;
    border: 0;
    border-top: 2px solid #eb800e;
    margin-left: 0;
    border-bottom: 1px solid #ccc;
}

.profile-img {
    border-radius: 50%;
    width: 25px;
    height: 25px;
}
    
