.logo{
    width: 50px;
    height: 28px;
}
.pl{
    height: 180px !important;
    overflow: overlay !important;
}

.form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    display:none !important;
    content: " ";
}