body {
    background-color: #eee;
    
}
.l{
  width: 81rem !important;
}
.mrg{
  margin-bottom: 0% !important;
}
.pg{
  margin-top:-127px;
}

#chat-component {
  position: inherit;
  /* bottom: 10px; */
  right: 0px;
  margin-left: 50rem;
  width: 400px; /* Vous pouvez ajuster la largeur du composant */
  height: 500px; /* Vous pouvez ajuster la hauteur du composant */
  border: 1px solid #ccc;
  background-color: #fff;
  /* Cachez le composant de chat par défaut */
  display: none;
  overflow-y: auto; /* Pour ajouter une barre de défilement si le contenu dépasse */
}
.bdge {
  height: 21px;
  background-color: orange;
  color: #fff;
  font-size: 11px;
  padding: 8px;
  border-radius: 4px;
  line-height: 3px;
}

.comments {
  text-decoration: underline;
  text-underline-position: under;
  cursor: pointer;
}
.top{
  top: 7%;
  left: 16px;
}
.form-label{
  top: 42%;
}
.dot {
  height: 7px;
  width: 7px;
  margin-top: 3px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.hit-voting:hover {
  color: blue;
}

.hit-voting {
  cursor: pointer;
}