<div class="card-result my-1">
    <a  class="w-full" >
        <table>
            <tr>
                <td class="vertical-align-top">
                    <div class="card-content">
                        <div class="d-flex justify-between mb-3">
                            <div class="h5">{{offer.createdAt | date:'yyyy-MM-dd'}}</div>
                            <div class="card-label">
                                <div class="d-flex height-34 space-x-1">
                                    <div class="d-flex my-auto" >
                                        <svg 
                                        [style.fill]="isFavorite ? 'red' : '#29ca8e'" (click)="toggleFavorite()" width="25" height="25" viewBox="0 0 18 17" ><path d="M8.42476 0.879307C8.7613 0.320081 9.57206 0.320082 9.9086 0.879308L12.1128 4.54191C12.2337 4.74282 12.4309 4.8861 12.6593 4.939L16.8238 5.9035C17.4597 6.05077 17.7102 6.82184 17.2823 7.31473L14.4801 10.5428C14.3264 10.7199 14.2511 10.9517 14.2714 11.1853L14.641 15.444C14.6974 16.0943 14.0415 16.5708 13.4405 16.3162L9.50446 14.6487C9.28856 14.5572 9.0448 14.5572 8.82889 14.6487L4.89284 16.3162C4.29187 16.5708 3.63595 16.0943 3.69239 15.444L4.06198 11.1853C4.08226 10.9517 4.00693 10.7199 3.85322 10.5428L1.05101 7.31473C0.623152 6.82184 0.87369 6.05077 1.50954 5.9035L5.67402 4.939C5.90245 4.8861 6.09966 4.74281 6.22057 4.54191L8.42476 0.879307Z"/></svg>
                                    </div>
                                    <span class="badge d-flex my-auto h-fit badge-md text-ca-light btn-primary" *ngIf="offer.contratId">{{offer.contratId.type}}</span>
                                </div>
                                <!-- <div class="d-inline-block ml-2">
                                    <span class="badge badge-md bg-[#137683] text-ca-light">******</span>
                                </div>
                                <div class="d-inline-block ml-2">
                                    <span class="badge badge-md danger">----</span>
                                </div> -->
                            </div>
                        </div>
                        <div class="d-flex align-items-center mb-4">
                            <img src="http://localhost:3000/file/folder/{{offer?.entrepriseId?.image}}" class="mr-4" height="70" width="105">
                            <div>
                                <div class="bold card-title">
                                    {{offer.titre}}
                                </div>
                                <div class="h5">
                                    {{offer.description}} 
                                </div>
                            </div>
                        </div>
                        <div class="row" *ngIf="offer.condidatures">
                            <div class="col-12">
                                <div class="card-color mt-4 mb-2 ml-4">
                                    <div class="d-inline-block vertical-middle">
                                        <div class="color-code mr-1" [style.background]="'#e4e4e4'">
                                        </div>
                                    </div>
                                    <div class="d-inline-block">{{offer.condidatures.length}} Applicants 
                                </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-between"> 
                            <div class="d-flex mt-auto">
                                <span class="h2" style="margin-right: auto;" *ngIf="offer.placeId">
                                    {{offer.placeId.place}} <span class="text-sm text-gray-600" *ngIf="offer.entrepriseId">- {{offer.entrepriseId.address}}</span>
                                </span>
                                <span class="ml-3 my-auto text-sm" *ngIf="offer.commentaires">
                                    <svg width="15px" height="15px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"> <g clip-path="url(#clip0_429_11233)"> <path d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 13.4876 3.36093 14.891 4 16.1272L3 21L7.8728 20C9.10904 20.6391 10.5124 21 12 21Z" stroke="#292929" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/> </g> <defs> <clipPath id="clip0_429_11233"> <rect width="24" height="24" fill="white"/> </clipPath> </defs></svg>
                                    {{offer.commentaires.length}}
                                </span>
                            </div>
                            <a style="float:right;margin-bottom: 1rem;" [routerLink]="['/offre',offer._id]"  >
                                <button class="btn btn-md warning">
                                    <span class="show-sm">Voir l'offre</span>
                                    <div class="hide-sm">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="8" height="12"
                                            viewBox="0 0 8 12" fill="none">
                                            <path
                                                d="M0.292893 10.2929C-0.097631 10.6834 -0.097631 11.3166 0.292893 11.7071C0.683417 12.0976 1.31658 12.0976 1.70711 11.7071L0.292893 10.2929ZM6 6L6.70711 6.70711L7.41421 6L6.70711 5.29289L6 6ZM1.70711 0.292893C1.31658 -0.0976315 0.683417 -0.0976315 0.292893 0.292893C-0.097631 0.683417 -0.097631 1.31658 0.292893 1.70711L1.70711 0.292893ZM1.70711 11.7071L6.70711 6.70711L5.29289 5.29289L0.292893 10.2929L1.70711 11.7071ZM6.70711 5.29289L1.70711 0.292893L0.292893 1.70711L5.29289 6.70711L6.70711 5.29289Z"
                                                fill="#E94E1B" />
                                        </svg>
                                    </div>
                                </button>
                            </a>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </a>

</div>